---
const { tag, forceDark = false } = Astro.props;
---

<a
  href={`/blog/tags/${tag}`}
  class={`max-md:text-xs text-sm font-medium ${forceDark ? 'text-gray-400 bg-gray-800' : 'text-gray-600 dark:text-gray-400 hover:text-blacktext'} transition-all ease-in-out duration-300 px-4 py-1 max-md:px-3 rounded-full border ${forceDark ? 'bg-gray-800 border-gray-700' : 'bg-accent-50 dark:bg-gray-800 border-accent-200 dark:border-gray-700 hover:bg-accent-100 dark:hover:bg-gray-700'}`}
>
  {tag}
</a>
